/* .profile{
    float: left;
    font-size: 18px;
    margin: 0px;
    margin-left: 20px;
    
}
#avatar{
    float: inline-start;
}

.col-lg-4{
    float: inline-end;
}

.list-group{
    margin: 30px;
    font-size: small;
    margin-top: -115px;
   margin-left: 100px;
    
}

#user{
    margin-left: 100px;
}

#git{
    text-align: right;
} */