<ng-progress></ng-progress>
<form action="" class="search-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
	</div>
</form>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  

<div *ngIf="profile">
    <div style="margin-top: 0%;" class="panel panel-default">
  
      <div class="panel-heading">
          <h1>{{profile.login}}</h1>
        <span *ngIf="">Works at {{profile.company}}</span> {{profile.location}}
      </div>
  <!-- Collapse Profile And Location On Panel -->
  
  
  <!--following, public gist, Followers, Following -->
      <div class="panel-body">
  
        <div class="row">
          <div class="col-md-4">
            <img src="{{profile.avatar_url}}" class="img-thumbnail github-avatar" alt="Profile Image">
          </div>
          <div class="col-md-8">
            <div class="start">
                <span class="label label-default">{{profile.public_repos}} Public Repos</span>
                <span class="label label-primary">{{profile.public_gist}} Public Gist</span>
                <span class="label label-success">{{profile.followers}} Followers</span>
                <span class="label label-info">{{profile.following}} Following</span>
                <br>
  
            <!-- Content With User-info -->
  
              <ul class="list-group">
                  <li class="list-group-item"><strong>Username:</strong> {{profile.login}}</li>
                  <li class="list-group-item"><strong>Location:</strong> {{profile.location}}</li>
                  <li class="list-group-item"><strong>Email:</strong> {{profile.email}}</li>
                  <li class="list-group-item"><strong>Bio:</strong> {{profile.bio}}</li>
                  <li class="list-group-item"><strong>Member Since:</strong> {{profile.created_at}}</li>
              </ul>
  
            <!-- Collapse Content With User-info -->
  
            </div>
          </div>
      
